:root {
	--background: #000;
	--text: #fff;
	--accent-1: #111;
}

* {
	margin: 0;	
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: var(--background);
}

#container {
	background-color: var(--accent-1);
	color: var(--text);
	font-size: 16pt;
}

#login {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 25rem;
	height: 10rem;
	position: absolute;
	background-color: #555;
}

#input {
	width: 15rem;
	height: 2rem;
	background-color: #222;
	color: #fff;
}
